.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.bg {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.bg::before {
  background-image: url("img/ab_background_1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
  opacity: 0.7;
}
.Container {
  width: 1000px;
  max-width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 1500px;
  background-color: #FFFEFE;
  flex-direction: column;
  margin: 65px;
}
.Header {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.line {
  width: 53px;
  height: 0;
  border: 1px solid #282c34;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePic {
  width: 70%;
  min-width: 350px;
}
.stylizedLogo {
  width: 20%;
  min-width: 150px;
  padding: 50px;
}
.Navbar {
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  text-decoration: none;
}
.PageContent {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin: 65px;
}
.TextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  margin: 50px;
  text-align: center;
}